:root {
    --color-background: #f9f9f9;
    --color-foreground: #fff;
    --color-accent-1: #167347;
    --color-accent-2: #095ED6;
    --color-font-default: #000;
    --color-font-1: #676565;
    --color-font-2: #9c9b9b;
    --color-alert: #c40e0e;
    --color-border: #7d7c7c7c;
}

.dark-mode {
    --color-background: #09121A;
    --color-foreground: #101B2B;
    --color-accent-1: #39DA8A;
    --color-accent-2: #6799FF;
    --color-font-default: #fff;
    --color-font-1: #c8c8cc;
    --color-font-2: #959494;
    --color-alert: #fa6060;
    --color-border: #234487;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-font-default);
    background: var(--color-background);
    margin-bottom: 400px;
}

ul {
    list-style: none;
}

a {
    color: var(--color-accent-2);
}

li>span {
    color: var(--color-accent-2);
    font-weight: bold;
}

.weather-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.weather-properties ul {
    font-size: 15px;
}

.city-panel a {
    color: var(--color-accent-1);
    text-decoration: none;
    padding-right: 20px;
}

.city-panel a:hover {
    text-decoration: underline;
}

.container {
    margin: 40px auto;
}

.card {
    background-color: var(--color-foreground);
    box-shadow: 0px 0px 5px var(--color-border);
    border: none;
    border-radius: 15px;
    width: 600px;
    padding: 10px;
    margin-top: 25px;
}

.city-panel {
    margin-bottom: 14px;
    font-size: 18px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 0;
    color: var(--color-font-1);
}

.time {
    font-size: 15px;
    color: var(--color-font-1);
    margin-bottom: 0;
    font-weight: 200;
}

.temp-now {
    font-size: 50px;
    font-size: 60px;
    font-weight: 600;
}

.temp-now .active {
    color: var(--color-font-default);
    cursor: default;
    font-weight: 600;
}

.weather-forecast div {
    padding: 0px;
    text-align: center;
    margin-top: 5px;
}

.weather-forecast img {
    width: 50px;
}

.weather-forecast-date {
    font-size: 12px;
    color: var(--color-font-1);
}

.weather-forecast-temp {
    font-weight: 200;
    font-size: 12px;
}

.weather-forecast-temp {
    font-weight: 400;
}

.weather-forecast-temp-min {
    color: var(--color-font-2);
}

.temp-units {
    font-size: 30px;
    color: var(--color-font-2);
    font-weight: 400;
}

.temp-units a {
    text-decoration: none;
    color: var(--color-font-2);
}

.temp-units a:not(.active):hover {
    text-shadow: 1px 1px var(--color-font-2);
}

.invalid-city {
    color: var(--color-alert);
    font-size: 12px;
}

#search-form {
    margin-bottom: 14px;
}

#search-input,
.btn {
    border-radius: 0;
}

#credentials {
    margin-top: 10px;
}

#credentials>* {
    font-size: 12px;
    padding: 0px;
}

#weather-description {
    color: var(--color-font-1);
}

#weather-description::first-letter {
    text-transform: capitalize;
}

img#weather-icon {
    width: 70px;
    height: 70px;
}

#search-button {
    background-color: var(--color-accent-2);
    border-color: var(--color-accent-2);
    color: var(--color-background);
}

#current-button {
    background-color: var(--color-accent-1);
    border-color: var(--color-accent-1);
    color: var(--color-background);
    font-weight: 600;
}

#search-input {
    background-color: var(--color-foreground);
    border-color: var(--color-border);
    color: var(--color-font-default);
}

#switch-theme-button {
    width: 150px;
    text-align: center;
    margin: 40px auto;
    background: none;
    color: var(--color-accent-1);
    border: 2px solid;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#switch-theme-button:hover {
    border-color: var(--color-accent-2);
    color: var(--color-font-default);
    box-shadow: 0 0.5em 0.5em -0.4em var(--color-accent-2);
    transform: translateY(-0.25em);
}


@media (max-width: 576px) {
    .card {
        width: 100%;
    }

    .city-panel {
        font-size: 14px;
    }

    .weather-row {
        margin-bottom: 20px;
    }

    .temp-units {
        font-size: 25px;
    }

    .weather-properties ul {
        font-size: 12px;
    }

    .weather-forecast img {
        width: 40px;
    }

    #search-form * {
        font-size: 14px;
    }

    #current-temp {
        font-size: 50px;
    }
}