body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

li>span {
    color: #095ED6;
    font-weight: bold;
}

.weather {
    font-size: 12px;
    width: 100%;
    margin: auto 0;
}

.row>* {
    width: auto;
}

.city-panel a {
    display: inline;
    color: green;
    text-decoration: none;
}

.city-panel a:hover {
    text-decoration: underline;
    color: green;
}


.container {
    margin: 40px auto;
}

.row-card {
    justify-content: center;
}

.card {
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 500px;
}

.city-panel {
    margin-bottom: 14px;
    font-size: 18px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 0;
    color: grey;
}

.time {
    font-size: 15px;
    color: grey;
    margin-bottom: 0;
    font-weight: 200;
}

.temp-now {
    font-size: 50px;
    font-size: 60px;
    font-weight: 600;
    display: flex;
}

.temp-now .fa-solid {
    font-size: 45px;
    align-self: center;
}

.week-forecast div {
    text-align: center;
}

.week-forecast {
    display: flex;
    justify-content: space-between;
}

.week-day {
    font-size: 15px;
}

.day-temp {
    font-weight: 200;
    font-size: 12px;
}

i.weather {
    font-size: 40px;
    padding: 5px;
}

.fa-sun {
    color: #ffd323;
}

.fa-cloud {
    color: rgb(193, 193, 193);
}

.temp-units {
    display: flex;
    font-size: 30px;
    align-self: flex-start;
}

.temp-units a {
    text-decoration: none;
    color: #000;
}

.temp-units a:hover {
    color: green;
}

.weather-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-form {
    margin-bottom: 14px;
    display: flex;
}

#search-input,
.btn {
    border-radius: 0;
}

#credentials {
    margin-top: 10px;
    justify-content: center;
}

#credentials>* {
    font-size: 12px;
    padding: 0px;
}